{# @var pager \Pagerfanta\Pagerfanta #}
{% if pager.getNbPages() > 1 %}
<div class="row">
    <div class="col s12">
        <ul class="pagination">
            {% set previous = pager.hasPreviousPage() %}
            <li class="{% if previous %}waves-effect{% else %}disabled{% endif %}">
                <a href="{% if previous %}{{ pagerfanta_page_url(pager.getPreviousPage()) }}{% else %}javascript:void(0);{% endif %}">
                    <i class="zmdi zmdi-chevron-left"></i>
                </a>
            </li>
            <li class="waves-effect"><a href="#!">1</a></li>
            <li class="waves-effect"><a href="#!">2</a></li>
            <li class="waves-effect"><a href="#!">3</a></li>
            <li class="disabled"><a>.</a></li>
            <li class="disabled"><a>.</a></li>
            <li class="disabled"><a>.</a></li>
            <li class="waves-effect"><a href="#!">7</a></li>
            <li class="active"><a href="#!">8</a></li>
            <li class="waves-effect"><a href="#!">9</a></li>
            <li class="disabled"><a>.</a></li>
            <li class="disabled"><a>.</a></li>
            <li class="disabled"><a>.</a></li>
            <li class="waves-effect"><a href="#!">10</a></li>
            <li class="waves-effect"><a href="#!">11</a></li>
            <li class="waves-effect"><a href="#!">12</a></li>
            <li class="waves-effect">
                <a href="#!">
                    <i class="zmdi zmdi-chevron-right"></i>
                </a>
            </li>
        </ul>
    </div>
</div>
{% endif %}