{% extends '::base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/list.css') }}">
{% endblock %}

{% block title %}AppBundle:Developer:list{% endblock %}

{% block body %}
<h1>Welcome to Developer:list page</h1>
{% endblock %}
