<!DOCTYPE html>
<html>
    <head lang="en">
        <meta charset="UTF-8">
        <title>Senseye поиск программистов</title>
        <meta property="og:site_name" content="Senseye – пошук программістів">
        <meta name="description" content="Пошук програмістів">
        <meta name="keywords" content="Senseye,поиск резюме,пошук резюме,пошук программістів">
        <link href="/css/main.css" type="text/css" rel="stylesheet"/>
        {% include 'analytics.html.twig' %}
    </head>
    <body>
        <div class="transy"></div>
        <div class="wrapper">
            <div class="centered">
                <div class="header">
                    <h1 id="logo">Senseye</h1>
                    <p class="title">Пошук программістів</p>
                </div>

                <div class="content">
                    <p>В розробці. Відкриття 8 лютого 2017</p>
                    <p class="target">Ціль: пошук активних кандидатів, які професійно розвиваються, створюють свої проекти, отримують задоволення від програмування</p>
                </div>
            </div>
        </div>
    </body>
</html>