{% extends '::base.html.twig' %}
{% block stylesheets %}
    <link href="https://cdn.rawgit.com/SenseyePrototype/senseyeprototype.github.io/master/css/main.css" type="text/css" rel="stylesheet"/>
{% endblock %}

{% block body %}
    <div class="transy"></div>
    <div class="wrapper">
        <div class="centered">
            <div class="header">
                <h1 id="logo">Senseye</h1>
                <p class="title">
                    <a href="{{ path('developers.page') }}" style="text-decoration: none; color: white;">{{ 'intro.description'|trans }}</a>
                </p>
            </div>

            <div class="content">
                <p>В розробці.</p>
                <p class="target">Ціль: пошук активних кандидатів, які професійно розвиваються, створюють свої проекти, отримують задоволення від програмування</p>
            </div>
        </div>
    </div>
{% endblock %}
