{% extends '::base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css">
    <link href="https://cdn.rawgit.com/SenseyePrototype/senseyeprototype.github.io/master/css/list.css" type="text/css" rel="stylesheet"/>
    <link href="https://cdn.rawgit.com/SenseyePrototype/senseyeprototype.github.io/master/css/profile.css" type="text/css" rel="stylesheet"/>
{% endblock %}

{% block body %}
    <section class="navigation z-depth-2">
        <nav class="container">
            <div class="nav-wrapper">
                <a href="javascript:void(0);" class="brand-logo left">Senseye</a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="javascript:void(0);" class="js-auth-open">Sign up</a></li>
                    <li><a href="javascript:void(0);" class="js-auth-open">Sign in</a></li>
                    <li><a href="profile.html">Alex</a></li>
                    <li>
                        <a href="profile.html">
                            Alex<span class="new badge red" data-badge-caption="Не опубликован"></span>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </section>
    {% include '@App/Developer/block/social-auth.html.twig' %}
    <section class="content profile">
        <div class="container">
            <div class="row">
                <div class="col s10 offset-s1 view z-depth-3">
                    <div class="post-date">27 ноября 2016</div>
                    <h4 class="center-align">Full Stack Web Dev</h4>
                    <div class="field col s12">
                        <div class="title col s12">
                            Вознаграждение
                        </div>
                        <div class="col s12">
                            <i class="zmdi zmdi-money"></i> 5000$
                        </div>
                    </div>
                    <div class="field col s12">
                        <div class="title col s12">
                            Ваш город
                        </div>
                        <div class="col s12">
                            <i class="zmdi zmdi-pin"></i> Киев
                        </div>
                    </div>
                    <div class="field col s12">
                        <div class="title col s12">
                            Описание
                        </div>
                        <div class="col s12">
                            <i class="zmdi zmdi-assignment"></i> I'm a 25 y.o. web developer focusing on PHP5, MySQL, NodeJS, CSS3, jQuery and JS. I am experienced in architecting and developing large scale web applications and delivering on-time.
                        </div>
                    </div>
                    <div class="field col s12">
                        <div class="title col s12">
                            Опыт
                        </div>
                        <div class="col s12">
                            <i class="zmdi zmdi-functions"></i> 6 year
                        </div>
                    </div>
                    <div class="field col s12">
                        <div class="title col s12">
                            Обязательно в вакансии
                        </div>
                        <div class="col s12">
                            <i class="zmdi zmdi-shield-check"></i> Love
                        </div>
                    </div>
                    <div class="field col s12">
                        <div class="title col s12">
                            Ожидание от вакансии
                        </div>
                        <div class="col s12">
                            <i class="zmdi zmdi-puzzle-piece"></i> On Beach with my mac
                        </div>
                    </div>
                    <div class="field col s12">
                        <div class="title col s12">
                            Навыки
                        </div>
                        <div class="col s12 skills js-skill-list">
                            <div class="skill col s12 js-skill">
                                <div class="col s2">
                                    Git
                                </div>
                                <div class="col s10">
                                    <div class="point active"></div>
                                    <div class="point active"></div>
                                    <div class="point active"></div>
                                    <div class="point active"></div>
                                    <div class="point active"></div>
                                    <div class="point active"></div>
                                    <div class="point active"></div>
                                    <div class="point"></div>
                                    <div class="point"></div>
                                    <div class="point"></div>
                                </div>
                            </div>
                            <div class="skill col s12 js-skill">
                                <div class="col s2">
                                    Jira
                                </div>
                                <div class="col s10">
                                    <div class="point active"></div>
                                    <div class="point active"></div>
                                    <div class="point active"></div>
                                    <div class="point active"></div>
                                    <div class="point active"></div>
                                    <div class="point active"></div>
                                    <div class="point active"></div>
                                    <div class="point"></div>
                                    <div class="point"></div>
                                    <div class="point"></div>
                                </div>
                            </div>
                            <div class="skill col s12 js-skill">
                                <div class="col s2">
                                    Laravel
                                </div>
                                <div class="col s10">
                                    <div class="point active"></div>
                                    <div class="point active"></div>
                                    <div class="point active"></div>
                                    <div class="point active"></div>
                                    <div class="point active"></div>
                                    <div class="point active"></div>
                                    <div class="point"></div>
                                    <div class="point"></div>
                                    <div class="point"></div>
                                    <div class="point"></div>
                                </div>
                            </div>

                            <div class="link-original">
                                <a href="/">
                                    <i class="zmdi zmdi-link"></i> Vergo
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
{% endblock %}