{# @var exists bool #}
{% set current = app.request.pathInfo %}
{% set menu = [
    {
        name: 'profile'|trans,
        exists: true,
        path: path('developer.profile.edit')
    },
    {
        name: 'skills'|trans,
        exists: exists,
        path: path('developer.profile.edit.skills')
    },
] %}
<div class="col s3 left-menu">
    {% for item in menu if item['exists'] %}
        {% if item['path'] == current %}
            <div class="block active">
                <a href="javascript:void(0);" class="name">{{ item['name'] }}</a>
            </div>
        {% else %}
            <div class="block">
                <a href="{{ item['path'] }}" class="name">{{ item['name'] }}</a>
            </div>
        {% endif %}
    {% endfor %}
</div>